<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qk.mapper.ActivityMapper">

    <!-- 根据条件查询活动
    List<Activity> list(ActivityDto activityQueryDto);-->
    <select id="list" resultType="com.qk.entity.Activity">
        SELECT id, channel, name, start_time, end_time, description, type, discount, voucher, create_time, update_time
        FROM activity
        <where>
            <if test="channel != null">
                AND channel = #{channel}
            </if>
            <if test="type != null">
                AND type = #{type}
            </if>
            <if test="status == 1">
                AND start_time &gt; NOW()
            </if>
            <if test="status == 2">
                AND start_time &lt;= NOW() AND end_time &gt;= NOW()
            </if>
            <if test="status == 3">
                AND end_time &lt; NOW()
            </if>
        </where>
        ORDER BY update_time DESC
    </select>

    <!-- 修改活动信息 -->
    <update id="updateById" >
        UPDATE activity
        <set>
            <if test="channel != null">
                channel = #{channel},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="discount != null">
                discount = #{discount},
            </if>
            <if test="voucher != null">
                voucher = #{voucher},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>